<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418669737983-a8rqabs2aalupttqrjgfv2btu63f0fcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418669737983-a8rqabs2aalupttqrjgfv2btu63f0fcc</string>
	<key>API_KEY</key>
	<string>AIzaSyCEz8qXU_mS4h75RzJK7fcqWnIadzAk7Co</string>
	<key>GCM_SENDER_ID</key>
	<string>418669737983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JacobRG.YardCall</string>
	<key>PROJECT_ID</key>
	<string>yard-call</string>
	<key>STORAGE_BUCKET</key>
	<string>yard-call.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418669737983:ios:621e686156cc69512799ca</string>
</dict>
</plist>